services:
  db:
    image: postgres:16-alpine
    container_name: Schedlur_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: Schedlur_clone
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d calendly_clone"]
      interval: 5s
      timeout: 3s
      retries: 20
  # optionnel (UI DB)
  pgadmin:
    image: dpage/pgadmin4:8
    container_name: calendly_clone_pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.dev
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      db:
        condition: service_healthy

volumes:
  pgdata:
